@import '../../sass/utils/functions';

.navAuth {
  display: flex;
  gap: 16px;
}

.authRegistration {
  padding: 14px 39px;

  font-size: getFontSize(norm);
  font-weight: getFontWeight(semibold);
  line-height: 20px;
  color: getColor(defaultWhite);

  background-color: getColor(textPrimary);
  border: none;
  border-radius: 12px;
  outline: none;
}

.authLogin {
  display: flex;
  align-items: center;

  min-width: 86px;

  font-size: getFontSize(norm);
  font-weight: getFontWeight(semibold);
  line-height: 20px;
  color: getColor(textPrimary);
}

.icon {
  size: 20px;
  margin-right: 8px;
  color: getColor(primary);
}

.authRegistration:hover,
.authRegistration:focus-visible,
.authLogin:hover,
.authLogin:focus-visible {
  color: getColor(accent);

  .icon {
    color: getColor(accent);
  }
}
