@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.navAuth {
  display: flex;
  height: 100%;
}

.navAuth li {
  display: flex;
  align-items: center;
  height: 100%;
}

.authRegistration {
  @include autoSizeBtn(padding-top, 8, 14);
  @include autoSizeBtn(padding-right, 18, 39);
  @include autoSize(line-height, 10, 20);
  @include autoSize(border-radius, 6, 12);

  font-weight: getFontWeight(semibold);
  color: getColor(defaultWhite);
  background-color: getColor(textPrimary);
  border: none;
  outline: none;
}

.authLogin {
  @include autoSize(line-height, 10, 20);
  @include autoSize(padding-right, 8, 16);

  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  font-weight: getFontWeight(semibold);
  color: getColor(textPrimary);
}

.icon {
  @include autoSize(size, 14, 20);
  
  height: 100%;
  margin-right: 8px;
  color: getColor(primary);
}

.authRegistration:hover,
.authRegistration:focus-visible,
.authLogin:hover,
.authLogin:focus-visible {
  color: getColor(accent);

  .icon {
    color: getColor(accent);
  }
}
