@import '../../sass/utils/functions';

.reviewerList,
.reviewerItem:not(:last-child) {
  margin-bottom: 32px;
}

.listBox {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.reviewerName,
.reviewerComment {
  font-weight: getFontWeight(medium);
  line-height: 24px;
}

.reviewerName {
  color: getColor(textSecondary);
}
