@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.reviewerList,
.reviewerItem:not(:last-child) {
  @include autoSize(margin-bottom, 16, 32);
}

.listBox {
  @include autoSize(margin-bottom, 8, 16);

  display: flex;
  gap: 12px;
}

.reviewerName,
.reviewerComment {
  @include autoSize(line-height, 18, 24);

  font-weight: getFontWeight(medium);
}

.reviewerName {
  color: getColor(textSecondary);
}
