@import '../../sass/utils/functions';

.topInfoList {
  display: inline-flex;
  gap: 16px;
}

.topInfoItem {
  display: flex;
  align-items: center;
  font-weight: getFontWeight(medium);
  line-height: 24px;
}

.topInfoItem:not(:last-child):after {
  content: '';
  margin-left: 16px;
  height: 70%;
  width: 1px;
  background: getColor(muted);
}

.topInfoPrice {
  padding-left: 4px;
  color: getColor(price);
  font-weight: getFontWeight(medium);
  line-height: 24px;
}
