@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.topInfoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 16px;

  @media screen and (min-width: 610px) {
    flex-direction: row;

    gap: 16px;
  }
}

.topInfoItem {
  @include autoSize(line-height, 18, 24);

  display: flex;
  font-weight: getFontWeight(medium);
  white-space: nowrap;

  @media screen and (min-width: 480px) {
    align-items: center;
  }
}

.topInfoItem:not(:last-child):after {
  @media screen and (min-width: 610px) {
    content: '';

    width: 1px;
    height: 70%;
    margin-left: 16px;

    background: getColor(muted);
  }
}

.topInfoPrice {
  @include autoSize(line-height, 18, 24);

  padding-left: 4px;
  font-weight: getFontWeight(medium);
  color: getColor(price);
}
