@import '../../sass/utils/functions';

.rating {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.star {
  width: 16px;
  height: 16px;
  color: getColor(star);
}

.ratingValue {
  font-weight: getFontWeight(medium);
  line-height: 18px;
}

.ratingValueTop {
  font-weight: getFontWeight(medium);
  line-height: 24px;
}
