@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.rating {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.star {
  width: 16px;
  height: 16px;
  color: getColor(star);
}

.ratingValue {
  @include autoSize(line-height, 14, 18);

  font-weight: getFontWeight(medium);
}

.ratingValueTop {
  @include autoSize(line-height, 18, 24);

  font-weight: getFontWeight(medium);
}
