html {
  overflow-x: hidden;
}

body {
  @include autoSize(font-size, 12, 16);

  font-family: getFont(primary), sans-serif;
  font-weight: getFontWeight(regular);
  font-style: normal;
  color: getColor(textPrimary);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  background-color: getColor(bgPrimary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

.errorForm {
  @include autoSize(font-size, 10, 12);

  position: absolute;
  bottom: -15px;
  left: 0;

  padding-left: 20px;
  color: getColor(error);
}

body.bodyWhite {
  background-color: getColor(defaultWhite);
}
