html {
  overflow-x: hidden;
}

body {
  font-family: getFont(primary), sans-serif;
  font-weight: getFontWeight(regular);
  font-style: normal;
  color: getColor(textPrimary);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  background-color: getColor(bgPrimary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

.errorForm {
  position: absolute;
  bottom: -15px;
  left: 0;

  padding-left: 20px;

  font-size: getFontSize(smal);
  color: getColor(error);
}
