@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.categoriesList {
  @include autoSize(margin-bottom, 16, 32);

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categoriesItems {
  @include autoSize(font-size, 12, 14);
  @include autoSize(line-height, 12, 16);
  @include autoSize(width, 28, 44);
  @include autoSize(height, 28, 44);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: getFontWeight(medium);
  border: 1px solid getColor(muted);
  border-radius: 50%;
}

.categoriesItemsChoice {
  background: getColor(primary);
  border: none;
}
