@import '../../sass/utils/functions';

.categoriesList {
  display: flex;
  gap: 8px;
}

.categoriesItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 1px solid getColor(muted);
  font-size: getFontSize(med);
  font-weight: getFontWeight(medium);
  line-height: 16px;
}

.categoriesItemsChoice {
  border: none;
  background: getColor(primary);
}
