@import '../../sass/utils/functions';

.categoriesList {
  display: flex;
  gap: 8px;
}

.categoriesItems {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  font-size: getFontSize(med);
  font-weight: getFontWeight(medium);
  line-height: 16px;

  border: 1px solid getColor(muted);
  border-radius: 50%;
}

.categoriesItemsChoice {
  background: getColor(primary);
  border: none;
}
