@mixin autoSize($param, $min, $max) {
  $min-px: #{$min}px;
  $min-dev-px: getBreakpoint(mobile);
  $min-dev: getBreakpointNP(mobile);
  $max-dev: getBreakpointNP(desktop);

  #{$param}: calc(
    $min-px + ($max - $min) * ((100vw - $min-dev-px) / ($max-dev - $min-dev))
  );
}

@mixin autoSizeBtn($param, $min, $max) {
  $min-px: #{$min}px;
  $min-dev-px: getBreakpoint(mobile);
  $min-dev: getBreakpointNP(mobile);
  $max-dev: getBreakpointNP(desktop);

  $value: calc(
    $min-px + ($max - $min) * ((100vw - $min-dev-px) / ($max-dev - $min-dev))
  );

  @if $param == padding-top {
    padding-top: $value;
    padding-bottom: $value;
  } @else if $param == padding-right {
    padding-right: $value;
    padding-left: $value;
  }
}
