@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@400;500;700&display=swap');

$fonts: (
  'primary': 'Roboto',
);

$fontsWeights: (
  'semibold': 700,
  'medium': 500,
  'regular': 400,
);

$fontsSizes: (
  'extrabig': 48,
  'larg': 40,
  'great': 24,
  'goodly': 22,
  'big': 20,
  'babig': 18,
  'norm': 16,
  'med': 14,
  'smal': 12,
);

$colors: (
  'primary': #41adff,
  'secondary': #0067b2,
  'accent': #00c8ff,
  'muted': rgba(18, 20, 23, 0.2),
  'bgPrimary': #f8f8f8,
  'star': #ffc531,
  'price': #38cd3e,
  'textPrimary': #121417,
  'textSecondary': #8a8a89,
  'textStat': rgba(18, 20, 23, 0.8),
  'defaultBlack': #000,
  'defaultWhite': #fff,
  'error': #ff0000,
);

$breakpoints: (
  'mobile': 320,
  'tablet': 768,
  'laptop': 1440,
);
