@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.formRegistration {
  @include autoSize(max-width, 219, 438);

  background: getColor(defaultWhite);
}

.title {
  @include autoSize(margin-bottom, 10, 20);
  @include autoSize(font-size, 24, 40);
  @include autoSize(line-height, 32, 48);

  font-weight: getFontWeight(medium);
  letter-spacing: -0.8px;
}

.text {
  @include autoSize(margin-bottom, 20, 40);
  @include autoSize(line-height, 16, 22);

  color: getColor(textStat);
}

.form {
  @include autoSize(gap, 20, 40);

  display: flex;
  flex-direction: column;
}

.formList {
  @include autoSize(gap, 12, 18);

  display: flex;
  flex-direction: column;
}

.formItem {
  @include autoSize(height, 32, 54);

  position: relative;
}

.formInput {
  @include autoSizeBtn(padding-top, 8, 16);
  @include autoSizeBtn(padding-right, 10, 18);
  @include autoSize(line-height, 16, 22);
  @include autoSize(border-radius, 6, 12);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: getColor(textPrimary);
  background: none;
  border: 2px solid rgba(18, 20, 23, 0.1);

  outline: none;
}

.formInput:hover {
  border-color: getColor(accent);
}

.formInput:focus {
  border-color: getColor(primary);
}

.formLabel {
  @include autoSize(line-height, 16, 22);
  @include autoSize(top, 8, 16);
  @include autoSize(left, 10, 18);

  pointer-events: none;
  cursor: text;
  position: absolute;
  padding: 0 8px;
  color: getColor(textPrimary);
  background-color: getColor(defaultWhite);

  -webkit-transition:
    top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
  transition:
    top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown).formInput:not(:focus) ~ .formLabel {
  @include autoSize(top, -6, -10);
  @include autoSize(left, 10, -12);
  @include autoSize(font-size, 10, 12);
}

.eye {
  @include autoSize(top, 10, 18);
  @include autoSize(right, 10, 18);

  cursor: pointer;
  position: absolute;
  width: 20px;
  color: getColor(textPrimary);
}

.btnRegistration {
  @include autoSize(padding, 10, 16);
  @include autoSize(border-radius, 6, 12);

  background: getColor(primary);
  outline: none;
}

.btnRegistration:hover,
.btnRegistration:focus {
  background: getColor(accent);
}
