@import '../../sass/utils/functions';

.formBook {
  width: 472px;
  background: getColor(defaultWhite);
}

.title {
  margin-bottom: 20px;
  font-size: getFontSize(larg);
  font-weight: getFontWeight(medium);
  line-height: 48px;
  letter-spacing: -0.8px;
}

.text {
  margin-bottom: 20px;
  color: getColor(textStat);
  font-size: getFontSize(norm);
  line-height: 22px;
}

.driver {
  display: flex;
  margin-bottom: 40px;
}

.driverBox {
  margin-left: 14px;
}

.driverText {
  margin-bottom: 4px;
  color: getColor(textSecondary);
  font-size: getFontSize(smal);
  font-weight: getFontWeight(medium);
  line-height: 16px;
}

.driverName {
  font-size: getFontSize(norm);
  font-weight: getFontWeight(medium);
  line-height: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.planningTitle {
  margin-bottom: 20px;
  font-size: getFontSize(great);
  font-weight: getFontWeight(medium);
  line-height: 32px;
}

.planningList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.planningItem {
  height: 24px;
}

.planningLabel {
  font-size: getFontSize(norm);
  line-height: 22px;
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 8px;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: getColor(defaultWhite);
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  border-radius: 50%;
  transform: translateY(-1px);
  display: grid;
  place-content: center;
}

input[type='radio']:checked {
  border: 2px solid #41adff;
}

input[type='radio']::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 14px 14px #41adff;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:focus {
  outline: 1px solid #00c8ff;
  outline-offset: 2px;
}

.formList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.formItem {
  position: relative;
  height: 54px;
}

.formInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 18px;
  border: 2px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  color: getColor(textPrimary);
  font-size: getFontSize(norm);
  line-height: 22px;
  outline: none;
  background: none;
}

.formInput:hover {
  border-color: getColor(accent);
}

.formInput:focus {
  border-color: getColor(primary);
}

.formLabel {
  position: absolute;
  left: 18px;
  top: 16px;
  padding: 0 8px;
  color: getColor(textPrimary);
  font-size: getFontSize(norm);
  line-height: 22px;
  cursor: text;
  -webkit-transition:
    top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
  transition:
    top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
  background-color: getColor(defaultWhite);
  pointer-events: none;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown).formInput:not(:focus) ~ .formLabel {
  top: -10px;
  font-size: getFontSize(smal);
  left: 12px;
}

.btnBook {
  padding: 16px;
  background: getColor(primary);
  outline: none;
}

.btnBook:hover,
.btnBook:focus {
  background: getColor(accent);
}
