@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.cardItem {
  @include autoSize(gap, 14, 48);
  @include autoSize(padding, 14, 24);
  @include autoSize(border-radius, 14, 24);

  display: flex;
  width: 100%;
  background-color: getColor(defaultWhite);
}

.topBox {
  width: 100%;
}

.topWrapper {
  @include autoSize(gap, 32, 66);

  display: flex;
  justify-content: flex-end;
}

.driverName {
  @include autoSize(font-size, 18, 24);
  @include autoSize(line-height, 18, 24);
  @include autoSize(margin-bottom, 16, 32);

  font-weight: getFontWeight(medium);
}

.btnMore {
  @include autoSize(margin-bottom, 16, 32);
  @include autoSize(line-height, 18, 24);

  font-weight: getFontWeight(medium);
  text-decoration-line: underline;
}

.btnMore:hover,
.btnMore:focus {
  color: getColor(accent);
}

.experience {
  @include autoSize(margin-bottom, 16, 32);
  @include autoSize(line-height, 18, 24);
}

.btnBookTrip {
  @include autoSizeBtn(padding-top, 8, 16);
  @include autoSizeBtn(padding-right, 24, 48);
  @include autoSize(border-radius, 6, 12);

  background: getColor(primary);
  outline: none;
}

.btnBookTrip:hover,
.btnBookTrip:focus {
  background: getColor(accent);
}
