@import '../../sass/utils/functions';

.cardItem {
  display: flex;
  padding: 24px;
  width: 100%;
  min-height: 328px;
  gap: 48px;
  border-radius: 24px;
  background-color: getColor(defaultWhite);
}

.topWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
}

.driverName {
  margin-bottom: 32px;
  font-size: getFontSize(great);
  font-weight: getFontWeight(medium);
  line-height: 24px;
}

.btnMore {
  margin-bottom: 32px;
  font-weight: getFontWeight(medium);
  line-height: 24px;
  text-decoration-line: underline;
}

.btnMore:hover,
.btnMore:focus {
  color: getColor(accent);
}

.experience {
  margin-bottom: 32px;
  line-height: 24px;
}

.btnBookTrip {
  padding: 16px 48px;
  border-radius: 12px;
  background: getColor(primary);
}

.btnBookTrip:hover,
.btnBookTrip:focus {
  background: getColor(accent);
}
