.cardItem {
  display: flex;
  padding: 24px;
  width: 100%;
  min-height: 328px;
  gap: 48px;
  border-radius: 24px;

  outline: 1px solid tomato;
}

.infoWrapper {

}

.btnMore {

}

.moreWrapper {

}

.moreText {

}

.btnBookTrip {
  
}
