@import '../../sass/utils/functions';

.chekboxHeart {
  display: inline-flex;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.chekboxHeart input:hover ~ .heart,
.chekboxHeart input:focus ~ .heart {
  color: getColor(primary);
}

.chekboxHeart input:checked ~ .heart {
  color: getColor(primary);
  fill: getColor(primary);
}

.heart {
  width: 18px;
  height: 18px;
  color: getColor(textPrimary);
}
