@import '../../sass/utils/functions';

.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.home li {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.home li:first-child {
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.home li:last-child {
  justify-content: flex-end;
}

.title {
  max-width: 600px;

  font-size: 32px;
  font-weight: getFontWeight(medium);
  line-height: 56px;
  color: getColor(textPrimary);
  letter-spacing: -0.96px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: calc(100vw - 60%);
    font-size: getFontSize(extrabig);
  }
}

.titleAccent {
  transform: skewX(-10deg);

  display: inline-flex;

  margin-left: 8px;
  padding-right: 8px;
  padding-left: 4px;

  background: getColor(accent);
}

.titleAccent p {
  transform: skewX(10deg);
}

.getStarted {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  padding: 16px 88px;

  font-size: getFontSize(babig);
  font-weight: getFontWeight(semibold);
  line-height: 28px;
  white-space: nowrap;

  background: getColor(primary);
  border: none;
  border-radius: 12px;
  outline: none;
}

.getStarted:hover,
.getStarted:focus {
  background: getColor(accent);
}

.text {
  max-width: 500px;
  width: 300px;
  font-size: getFontSize(norm);
  line-height: 22px;
  color: getColor(textPrimary);
  letter-spacing: -0.32px;

  @media screen and (min-width: 768px) {
    width: calc(100vw - 60%);
  }
}

.img {
  max-width: 600px;
  border-radius: 30px;

  @media screen and (max-width: 880px) {
    width: 300px;
  }

  @media screen and (max-height: 690px) {
    width: 500px;
  }
}
