@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;

  @media screen and (min-width: getBreakpoint(tablet)) {
    padding: 32px;
  }
}

.home li {
  @media screen and (min-width: getBreakpoint(tablet)) {
    display: flex;
  }
}

.home li:first-child {
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 40px;
}

.home li:last-child {
  justify-content: flex-end;
  padding-right: 50px;
}

.title {
  @include autoSize(width, 300, 600);
  @include autoSize(font-size, 24, 48);
  @include autoSize(line-height, 32, 56);

  max-width: 600px;
  font-weight: getFontWeight(medium);
  color: getColor(textPrimary);
  letter-spacing: -0.96px;
  margin-bottom: 20px;

  @media screen and (min-width: getBreakpoint(tablet)) {
    margin: 0;
  }
}

.titleAccent {
  transform: skewX(-10deg);
  display: inline-flex;
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 4px;
  background: getColor(accent);
}

.titleAccent p {
  transform: skewX(10deg);
}

.getStarted {
  @include autoSizeBtn(padding-top, 8, 16);
  @include autoSizeBtn(padding-right, 44, 88);
  @include autoSize(font-size, 14, 18);
  @include autoSize(line-height, 18, 28);
  @include autoSize(border-radius, 6, 12);

  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-left: 40px;
  white-space: nowrap;
  background: getColor(primary);
  border: none;
  outline: none;
}

.getStarted:hover,
.getStarted:focus {
  background: getColor(accent);
}

.text {
  @include autoSize(width, 300, 500);
  @include autoSize(font-size, 12, 14);
  @include autoSize(line-height, 14, 22);

  max-width: 500px;
  color: getColor(textPrimary);
  letter-spacing: -0.32px;
}

.img {
  @include autoSize(width, 300, 600);
  @include autoSize(border-radius, 12, 30);

  max-width: 600px;
}
