@import '../../sass/utils/mixins';

.logo {
  @include autoSize(font-size, 14, 20);
  @include autoSize(line-height, 16, 24);

  cursor: default;
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  letter-spacing: -0.4px;
  padding-right: 20px;
}
