.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 61px;
  font-size: getFontSize(big);
  font-weight: getFontWeight(medium);
  line-height: 24px;
  letter-spacing: -0.4px;
  cursor: default;
}
