.logo {
  cursor: default;

  display: flex;
  gap: 8px;
  align-items: center;

  white-space: nowrap;

  font-size: getFontSize(big);
  font-weight: getFontWeight(medium);
  line-height: 24px;
  letter-spacing: -0.4px;
}
