@import '../../sass/utils/functions';

.filter {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.filterLabel {
  color: getColor(textSecondary);
  font-size: getFontSize(med);
  font-weight: getFontWeight(medium);
  line-height: 18px;
}

.btnFilter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;
  width: 160px;
  height: 48px;

  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: getColor(textPrimary);
  font-size: getFontSize(babig);
  font-weight: getFontWeight(medium);
  line-height: 20px;
  background-color: getColor(defaultWhite);

  border: 1px solid transparent;
  border-radius: 14px;
  cursor: pointer;
  outline: none;
}

.btnFilter:hover {
  color: getColor(defaultWhite);
  background-color: getColor(primary);
}

.icon {
  size: 20px;
  color: getColor(textPrimary);
}

.dropdown {
  position: absolute;
  top: 54px;
  left: 0;
  background: getColor(defaultWhite);
  padding: 14px 18px;
  color: getColor(primary);
  text-align: left;
  box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 200;
}

.dropdownItem {
  padding: 1px 8px;
  color: getColor(muted);
  font-size: getFontSize(babig);
  font-weight: getFontWeight(medium);
  line-height: 20px;
}

.dropdownItem:hover {
  color: getColor(defaultWhite);
  background-color: getColor(primary);
  border-radius: 8px;
}

.choiced {
  color: getColor(textPrimary);
}
