@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.filter {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.filterLabel {
  @include autoSize(font-size, 12, 14);
  @include autoSize(line-height, 14, 18);

  font-weight: getFontWeight(medium);
  color: getColor(textSecondary);
}

.btnFilter {
  @include autoSize(width, 120, 160);
  @include autoSize(height, 32, 48);
  @include autoSizeBtn(padding-top, 8, 16);
  @include autoSizeBtn(padding-right, 12, 18);
  @include autoSize(font-size, 14, 18);
  @include autoSize(line-height, 12, 20);
  @include autoSize(border-radius, 8, 12);

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: getFontWeight(medium);
  color: getColor(textPrimary);
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;

  background-color: getColor(defaultWhite);
  border: 1px solid transparent;
  outline: none;
}

.btnFilter:hover {
  color: getColor(defaultWhite);
  background-color: getColor(primary);
}

.icon {
  size: 20px;
  color: getColor(textPrimary);
}

.dropdown {
  @include autoSize(width, 120, 160);
  @include autoSize(top, 36, 54);
  @include autoSizeBtn(padding-top, 6, 14);
  @include autoSizeBtn(padding-right, 12, 18);
  @include autoSize(border-radius, 8, 12);

  position: absolute;
  z-index: 200;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: getColor(primary);
  text-align: left;

  background: getColor(defaultWhite);

  -webkit-box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px -20px rgba(0, 0, 0, 0.75);
}

.dropdownItem {
  @include autoSize(font-size, 14, 18);
  @include autoSize(line-height, 16, 20);
  @include autoSize(border-radius, 4, 8);

  padding: 2px 8px;
  font-weight: getFontWeight(medium);
  color: getColor(muted);
}

.dropdownItem:hover {
  color: getColor(defaultWhite);
  background-color: getColor(primary);
}

.choiced {
  color: getColor(textPrimary);
}
