@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.navMenu {
  display: flex;
  align-items: center;
  height: 100%;
}

.navList {
  @include autoSize(gap, 12, 28);

  display: flex;
  height: 100%;

  @media screen and (max-width: 380px) {
    flex-direction: column;
    justify-content: center;
  }
}

.navLink {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: getFontWeight(regular);
  color: getColor(textPrimary);
  border: none;
}

.navLink:hover:not(.activeLink),
.navLink:focus-visible:not(.activeLink) {
  color: getColor(accent);
  background-color: getColor(defaultWhite);
}

.activeLink {
  cursor: default;
  color: getColor(aLink);
}
