@import '../../sass/utils/functions';

.backdrop {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;

  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 32px;

  background-color: getColor(muted);
  backdrop-filter: blur(4px);
}

.modalWrapper {
  position: relative;
  padding: 64px;
  background: getColor(defaultWhite);
  border-radius: 30px;
}

.btnModalCloseWrapper {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;

  color: getColor(textPrimary);

  background-color: transparent;
  border: none;
}

.btnModalClose {
  width: 100%;
  height: 100%;
}

.btnModalClose:hover,
.btnModalClose:focus {
  color: getColor(accent);
}
