@import '../../sass/utils/functions';

.header {
  position: sticky;
  z-index: 1100;
  top: 0;
  left: 0;

  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: space-between;

  padding: 20px 64px;

  background-color: getColor(defaultWhite);
}
