@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.header {
  @include autoSizeBtn(padding-top, 16, 20);
  @include autoSizeBtn(padding-right, 16, 64);

  position: sticky;
  z-index: 1100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  background-color: getColor(defaultWhite);
}
