@import '../../sass/utils/functions';

.favorites {
  max-width: 1184px;
  margin: 0 auto;
  padding: 32px;
}

.notFavCar {
  padding: 30px;

  font-size: getFontSize(norm);
  font-weight: getFontWeight(medium);
  line-height: 24px;
  color: getColor(secondory);
  text-align: center;
}
