@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.favorites {
  @include autoSize(padding, 16, 32);

  max-width: 1184px;
  margin: 0 auto;
}

.notFavCar {
  @include autoSize(line-height, 14, 24);

  padding: 30px;
  font-weight: getFontWeight(medium);
  color: getColor(secondory);
  text-align: center;
}
