@import '../../sass/utils/functions';

.drivers {
  max-width: 1184px;
  margin: auto;
  padding-top: 32px;
}

.btnLoadMore {
  margin: 0 auto 32px;
  padding: 16px 48px;
  background: getColor(primary);
  outline: none;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  background: getColor(accent);
}
