@import '../../sass/utils/functions';

.avatar {
  width: 96px;
  height: 96px;

  object-fit: cover;
  object-position: top center;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatarReviewer {
  width: 44px;
  height: 44px;
}

.avatarDriverWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  border: 3px solid getColor(primary);
  background: getColor(defaultWhite);
}
