@import '../../sass/utils/functions';

.avatar {
  width: 96px;
  height: 96px;

  object-fit: cover;
  object-position: top center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatarReviewer {
  width: 44px;
  height: 44px;
}

.avatarDriverWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 120px;
  max-height: 120px;

  background: getColor(defaultWhite);
  border: 3px solid getColor(primary);
  border-radius: 50%;
}
