@import '../../sass/utils/functions';

.infoList {
  margin-bottom: 16px;
}

.infoListItem {
  display: flex;
  gap: 4px;
}

.infoListItem:not(:last-child) {
  margin-bottom: 8px;
}

.infoName {
  white-space: nowrap;
  color: getColor(textSecondary);
  font-weight: getFontWeight(medium);
  line-height: 24px;
}

.infoText {
  line-height: 24px;
  color: getColor(textPrimary);
}

.infoText span:not(:last-child)::after {
  content: ',';
  margin-right: 4px;
}

.infoLang {
  text-decoration-line: underline;
}
